ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
}

li {
    padding: 10px;
    width: 500px;
    max-width: 500px;
    max-height: 400px;
}

.card {
    padding: 1rem;
    height: 100%;
    width: 100%;
    box-shadow: 5px 5px 10px #ccc;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.card > img {
    width: 100%;
    height: 90%;
}

.card h3 {
    margin: 0;
    padding: 5px;
}

.card p {
    margin: 0;
    padding: 3px;
}

.card h2 {
    margin: 0;
}

.card article {
    padding: 5px;   
}